/* * {
    outline: dotted;
} */


body {
    margin: 0 auto;
    width: 1000px;
                     /*    red  green blue  opacity */
    background-color: silver
}
main {
    background-color: lime;
}
header {
    margin-bottom: 10px;
}
ul li {
    display: inline block;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
}
ol li {
    display: inline block;
    padding: 10px;
    background-color: rgb(55,136,212);
    border-radius: 15px;
}
h1 {
    background-color: Lime;
    color: GhostWhite;
    font-size: 50px;
    text-shadow:2px 2px LightSlateGray;
    margin-bottom: 40px;
}
nav {
    background-color: black;
    height: 250px;
}
section p.more-styles {

    background-color: red;
}

.more-styles {
color: white;
background-color:  #0000FF;
}

#another-style {
    border: 5px solid #00FF00;
}

footer {
    margin-top: 15px;
}